<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-about">
      <h1>소개</h1>
      <hr>
      <p>A.IF는 AI를 주제로 한 포럼(커뮤니티)입니다</p>
      <P>A.IF는 AI에 관심을 가지는 여러분들을 위한 포럼입니다</P>
      <P>마지막으로 A.IF는 여러분의 오늘이 좋은 하루가 될 수 있기를 기원해요!</p>
      <hr>
      <p> 본 사이트는 Node.js MongoDB를 이용하여 제작되었습니다 </p>
      <p> 코드는 밑의 링크를 참고해주시길 바랍니다 </p>
      <a href="https://github.com/IL-RL/Web/tree/master/Node.js/A.IF">Made by IL</a>
    </div>
  </body>
</html>
