<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
      <div class="jumbotron">
        <h1>Hello, A.IF!</h1>
        <P>A.IF에 방문한 여러분들을 환영합니다</p>
      </div>
    </div>
  </body>
</html>
