<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
      <div class="jumbotron">
        <h1>Hello, A.IF!</h1>
        <hr>
        <p>A.IF에 방문한 여러분들을 환영해요!</p>
        <p>A.IF는 오늘 하루도 A.IF에서 유익하고 즐겁게 보내시길 바래요!</p>
      </div>
    </div>
  </body>
</html>
